/********************* Emphasized Blurbs Section *******************/
/***  This section governs the style of the emphasized "updates" ***/
/***            section at the top of the webpage                ***/
/*******************************************************************/

 /*To be done:
        - Set up backgrounds to work using ng-img so orgs can more easily
            swap in their own designs for the buttons
*/



.navbar
{ 
    background-color: #002358;
    padding-bottom: 12px;
}

.navbar-default .navbar-brand
{
    color: white;
}

.brandname
{
    padding-top: 25px;
}

div.navbar-header a.brandname:hover
{
    color: #579aff !important; 
}
    
.navbar-default .navbar-nav > li > a
{
    color: white;
    padding-top: 25px;
}

/*.navbar-dafault .navbar-nav > li > a:hover
{
    background-color: yellow;
}*/

ul.nav a:hover 
{ 
    color: #579aff !important; 
}


/*@media (min-width: 768px)*/
header.sb-page-header 
{
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: left;
    font-size: 24px;
    
}

.sb-page-header div.container
{
    display: block;
}

.sb-page-header 
{
    padding: 30px 15px;
    color: rgba(255,255,255,.8);
    background-color: #b84d45;
    margin-bottom: 50px;
    font-size: 20px;
    
   
}

sb-page-header, header.marquee {
    text-align: center;
    background-image: url(/images/tile.png);
}
























/*
.blurbRow {
    margin-top: 2em;
    margin-bottom: 2em;
}

.blurbLeft {
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 0 .9375em rgba(0,0,0,.3),0 0 1.125em rgba(0,0,0,.3);
    perspective: 200px;
}

.blurbRight {
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 0 .9375em rgba(0,0,0,.3),0 0 1.125em rgba(0,0,0,.3);
    perspective: 200px;
}

.blurbLeftAnchor {
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    float: left;
    width: 50%;
}

.blurbRightAnchor {
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    float: right;
    width: 50%;
}

.blurbLeftPT1 {
    padding: 2em;
    background: repeating-radial-gradient(circle at right center, #008094 0,#00bfff 8%,#008094 12%);
    position: relative;
    text-decoration: none;
    display: block;
}

.blurbLeftPT2 {
    padding: 2em;
    background: repeating-radial-gradient(circle at left center, #948000 0,#ffbf00 8%,#948000 12%);
    position: relative;
    text-decoration: none;
    display: block;
    height: 316px;
}

.blurbRightPT1 {
    padding: 2em;
    background: repeating-radial-gradient(circle at right center, #948000 0,#ffbf00 8%,#948000 12%);
    position: relative;
    text-decoration: none;
    display: block;
}

.blurbRightPT2 {
    padding: 2em;
    background: repeating-radial-gradient(circle at left center, #008094 0,#00bfff 8%,#008094 12%);
    position: relative;
    text-decoration: none;
    display: block;
}

.blurbLeftTitle {
    text-align: center;
    clear: both;
    box-shadow: 0 0 .9375em rgba(0,0,0,.3),0 0 1.125em rgba(0,0,0,.3);
    perspective: 200px;    
}


.blurbRightTitle {
    text-align: center;
    clear: both;
    box-shadow: 0 0 .9375em rgba(0,0,0,.3),0 0 1.125em rgba(0,0,0,.3);
    perspective: 200px;
}*/